.review-card {
    grid-column: auto;
    grid-row: 2;
    min-height: 23rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background: #fff;
    text-align: center;
}

.review-card img {
    width: 8rem;
    margin: 0 auto 0.5rem auto;
    border-radius: 50%;
}

.review-card h3 {
    color: #395E57;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.review-card p {
    padding-top: 1rem;
}

@media(max-width: 960px) {
    .review-card {
        grid-column: auto;
        grid-row: auto;
        margin-bottom: 2rem;
        min-height: 12rem;
    }
}