.footer {
  background-color: #FFF;
  color: #495E57;
}

.footer .container {
  grid-template-columns: repeat(4, auto);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-logo {
  grid-column: 1;
  min-width: 6rem;
}

