.banner {
  display: grid;
  grid-template-columns: repeat(6, minmax(240px, 1fr));
  /* grid-template-rows: 1; */
  background-color: #495e57;
  gap: 5rem;
  justify-content: center;
}

.container {
padding-top: 60px;
grid-column: 2 / 3;
}

.text-box {
  justify-items: right;
}

.heading {
  font-family: "Markazi Text";
  font-weight: 500;
  font-size: 64px;
  color: #f4ce14;
  margin: 0;
}

.subheading {
  font-family: "Markazi Text";
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin: 0;
}

.description {
  font-family: "Karla";
  font-weight: 300;
  color: white;
}

.photo-box {
  z-index: 1;
  
}

.photo {
  min-width: 10%;
  min-height: 10%;
  max-width: 300px;
  max-height: 400px;
  border-radius: 16px;
  position: relative;
  top: 100px
}

.reserve-button {
  font-family: "Karla";
  font-weight: 800;
  background-color: #f4ce14;
  padding: 10px;
  border-radius: 16px;
  border-color: #f4ce14;
}
