.menu-heading {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-weight: 800;
  font-size: 30px;
  margin: 30px;
}

.specials {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.online-menu {
  grid-row-start: 2;
  grid-column-start: 6;
  font-family: "Karla";
  font-weight: 800;
  background-color: #f4ce14;
  padding: 10px;
  border-radius: 16px;
  border-color: #f4ce14;
  width: 18vh;
  height: 6vh;
  justify-self: center;
  align-self: center;
}
