.nav-links a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px 30px 30px 30px;
  background-color: #fff;
  font-family: "Karla";
  font-weight: 500;
  margin-bottom: -20px;
}

.nav-links {
  color: black;
}

.menu {
  display: flex;
  gap: 3em;
  font-size: 18px;
}
